homeassistant/authentication.yaml
homeassistant/automation/metrotown_notify.yaml
homeassistant/devices/notification.yaml
homeassistant/devices/thermostat.yaml
homeassistant/.HA_VERSION
homeassistant/home-assistant.db
homeassistant/home-assistant.log
homeassistant/known_devices.yaml
homeassistant/lib
homeassistant/mqtt.yaml
homeassistant/zones/residence.yaml
